@using WebApplication3.Models
@model PeopleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <button class="btn btn-dark btn-lg">
            <a href="/home/addperson">Add Person</a>
        </button>
        <h1>People</h1>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Person p in Model.People)
                {
                    <tr>
                        <td>@p.FirstName</td>
                        <td>@p.LastName</td>
                        <td>@p.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
